
@{
    ViewData["Title"] = "Planet";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Planet</title>
</head>
<body>
    <h1>Planets</h1>
</body>
</html>
