
@{
    ViewData["Title"] = "Starship";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Starship</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Starships of Star Wars</h1>
    </div>
    <br />
    <h4>Below is a list of all of the Starships in the Star Wars Universe that we currently have data on. I'm sure that more are being developed and will appear in the sky at some point soon. Choose any one to learn more about it!</h4>
    <br />
    <div class="dropdown-container">
        <div class="dropdown">
            <label for="Starships">Select Starship</label>
            <select class="form-control" id="starships">
                <option value="millenniumFalcon">Millennium Falcon</option>
                <option value="yWing">Y-wing</option>
                <option value="xWing">X-wing</option>
                <option value="tIEAdvancedX1">TIE Advanced x1</option>
                <option value="slave1">Slave 1</option>
                <option value="imperialShuttle">Imperial Shuttle</option>
                <option value="eF76NebulonBEscortFrigate">EF76 Nebulon-B Escort Frigate</option>
                <option value="calamariCruiser">Calamari Cruiser</option>
                <option value="aWing">A-wing</option>
                <option value="bWing">B-wing</option>
                <option value="republicCruiser">Republic Cruiser</option>
                <option value="nabooFighter">Naboo Fighter</option>
                <option value="nabooRoyalStarship">Naboo Royal Starship</option>
                <option value="scimitar">Scimitar</option>
                <option value="jTypeDiplomaticBarge">J-type Diplomatic Barge</option>
                <option value="aA9CoruscantFreighter">AA-9 Coruscant freighter</option>
                <option value="jediStarfighter">Jedi Starfighter</option>
                <option value="hTypeNubianYacht">H-type Nubian Yacht</option>
                <option value="starDestroyer">Star Destroyer</option>
                <option value="tradeFederationCruiser">Trade Federation Cruiser</option>
                <option value="thetaClassT2cShuttle">Theta-class T-2c Shuttle</option>
                <option value="t70XWingFighter">T-70 X-Wing Fighter</option>
                <option value="rebelTransport">Rebel Transport</option>
                <option value="droidControlShip">Droid Control Ship</option>
                <option value="republicAssaultShip">Republic Assault Ship</option>
                <option value="solarSailer">Solar Sailer</option>
                <option value="republicAttackCruiser">Republic Attack Cruiser</option>
                <option value="nabooStarSkiff">Naboo Star Skiff</option>
                <option value="jediInterceptor">Jedi Interceptor</option>
                <option value="aRC170">ARC-170</option>
                <option value="belbullab22Starfighter">Belbullab-22 Starfighter</option>
                <option value="cR90Corvette">CR90 Corvette</option>
                <option value="bankingClanFrigate">Banking Clan Frigate</option>
            </select>
        </div>
    </div>
</body>
</html>
