
@{
    ViewData["Title"] = "Starship";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Starship</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Starships of Star Wars</h1>
    </div>
    <br />
    <h4>Below is a list of all of the Starships in the Star Wars Universe that we currently have data on. I'm sure that more are being developed and will appear in the sky at some point soon. Choose any one to learn more about it!</h4>
    <br />
    <div class="dropdown-container">
        <form method="post" asp-controller="Vehicle">
            <div class="form-group">
                <label class="col-md-4 control-label">Select Starship</label>
                <select class="form-control" name="starship">
                    <option value="Millennium Falcon">Millennium Falcon</option>
                    <option value="Y-wing">Y-wing</option>
                    <option value="X-wing">X-wing</option>
                    <option value="TIE Advanced x1">TIE Advanced x1</option>
                    <option value="slave1">Slave 1</option>
                    <option value="Imperial Shuttle">Imperial Shuttle</option>
                    <option value="EF76 Nebulon-B Escort Frigate">EF76 Nebulon-B Escort Frigate</option>
                    <option value="Calamari Cruiser">Calamari Cruiser</option>
                    <option value="A-wing">A-wing</option>
                    <option value="B-wing">B-wing</option>
                    <option value="Republic Cruiser">Republic Cruiser</option>
                    <option value="Naboo Fighter">Naboo Fighter</option>
                    <option value="Naboo Royal Starship">Naboo Royal Starship</option>
                    <option value="Scimitar">Scimitar</option>
                    <option value="J-type Diplomatic Barge">J-type Diplomatic Barge</option>
                    <option value="AA-9 Coruscant freighter">AA-9 Coruscant freighter</option>
                    <option value="Jedi Starfighter">Jedi Starfighter</option>
                    <option value="H-type Nubian Yacht">H-type Nubian Yacht</option>
                    <option value="Star Destroyer">Star Destroyer</option>
                    <option value="Trade Federation Cruiser">Trade Federation Cruiser</option>
                    <option value="Theta-class T-2c Shuttle">Theta-class T-2c Shuttle</option>
                    <option value="T-70 X-Wing Fighter">T-70 X-Wing Fighter</option>
                    <option value="Rebel Transport">Rebel Transport</option>
                    <option value="Droid Control Ship">Droid Control Ship</option>
                    <option value="Republic Assault Ship">Republic Assault Ship</option>
                    <option value="Solar Sailer">Solar Sailer</option>
                    <option value="Republic Attack Cruiser">Republic Attack Cruiser</option>
                    <option value="Naboo Star Skiff">Naboo Star Skiff</option>
                    <option value="Jedi Interceptor">Jedi Interceptor</option>
                    <option value="ARC-170">ARC-170</option>
                    <option value="Belbullab-22 Starfighter">Belbullab-22 Starfighter</option>
                    <option value="CR90 Corvette">CR90 Corvette</option>
                    <option value="Banking Clan Frigate">Banking Clan Frigate</option>
                </select>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button input type="submit" class="btn btn-warning">submit</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
