
@{
    ViewData["Title"] = "Starship";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Starship</title>
</head>
<body>
    <h1>Starships</h1>
</body>
</html>
