@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Planet</title>
</head>
<body>
    <div class="text-center">
        <h6>Welcome To</h6>
        <h3>My Star Wars</h3>
        <h2 class="display-3">Universe</h2>
        <h1 class="display-1">Info Site!</h1>
    </div>
    <br />
    <div class="text-center">
        <p>Learn about <a href="https://www.starwars.com/"></a>the Star Wars universe!</p>
    </div>
</body>
</html>
