@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy Policy</title>
</head>
<body>
    <br />
    <br />
    <h1 class="text-center">@ViewData["Title"]</h1>
    <br />
    <br />
    <br />
    <br />
    <div class="text-lg-center">
        <h4>Since you aren't entering any personal information and we aren't using Cookies to track anything</h4>
        <h1 class="display-4">YOU HAVE NOTHING TO WORRY ABOUT!</h1>
    </div>
</body>
</html>